<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grodno Tennis</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="container-fluid shadow ">
    <div class="row text-center">
        <div class="col-xs-8 text-left">
            <a href="{{ route('admin-table-tournaments') }}" class="lt-primary-btn margin-for-btn-in">
                Назад
            </a>
        </div>
        <div class="col-xs-4">
            <div class="dropdown margin-for-btn-in">
                <button class="dropbtn">
                    <img class="size-of-btn-img" src="/img/benefit_3.png">
                    <span class="caret"></span>
                </button>
                <div class="dropdown-content text-center">
                    <a href="{{ route('main') }}">Главная</a>
                    <a href="{{ route('my-matches') }}">Личный кабинет</a>
                    <a href="{{ route('logout') }}"
                       onclick="event.preventDefault();
                       document.getElementById('logout-form').submit();">
                        Выход
                    </a>

                    <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                        {{ csrf_field() }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-padding-1em text-center">
        <p class="second-section-header-textstyle">{{ tournament.name }} : {{ this_tournament_users_count }} / {{ tournament.max_players }}</p>
    </div>
    <div class="row top-padding-1em">
        <div class="col-xs-12">
            <form action="{{ route('admin-tournament-searchSimple', tournament.id) }}" method="GET"
                  class="search-simple">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" value="{{ old('q') }}" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
                        <div class="form-group">
                            <input class="lt-primary-btn" type="submit" value="Искать">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row top-padding-1em
			{% if searched_users %}
				bottom-padding-4em
			{% endif %}">
        <div class="col-xs-12 results-league-table">
            <table width="100%" class="text-center">
                {% if searched_users %}
                    <thead>
                    <tr>
                        <td class="hidden-xs all-players-table-style">
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Фамилия</span>
                            <span class="visible-xs-block all-players-table-style">
                            <i class="all-players-table-style material-icons">person</i>
                        </span>
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Имя</span>
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Отчество</span>
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Возраст</span>
                            <span class="visible-xs-block all-players-table-style">
							<i class="material-icons"></i>
                        </span>
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Сыграно</span>
                            <span class="visible-xs-block all-players-table-style">
							<i class="all-players-table-style material-icons">thumbs_up_down</i>
                        </span>
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Побед</span>
                            <span class="visible-xs-block all-players-table-style">
							<i class="all-players-table-style material-icons">thumb_up</i>
                        </span>
                        </td>
                        <td>
                            <span class="hidden-xs all-players-table-style">Очки</span>
                            <span class="visible-xs-block all-players-table-style">
							<i class="all-players-table-style material-icons">equalizer</i>
                        </span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for suser in searched_users %}
                    <form method="get" action="{{ route('send-tournament-invite',  tournament.id) }}">
                        <div class="form-group">
                            <input name="uid" value="{{ suser.id }}" hidden>
                        </div>
                        <tr class="text-center top-padding-1em">
                            <td class="hidden-xs all-players-table-style top-padding-1em">
                                <img class="player-avatar-32 border top-padding-25px" src="/uploads/avatars/{{ suser.avatar }}">
                            </td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.surname }}</td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.name }}</td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.sname }}</td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.age }}</td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.matches }}</td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.wins }}</td>
                            <td class="all-players-table-style top-padding-2em">{{ suser.rating }}</td>
                            {% set a=0 %}
                            {% for tournament_user in tournament_users %}
                                {% if tournament.id==tournament_user.tournament_id %}
                                    {% if suser.id==tournament_user.user_id %}
                                        {% set a=1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% for request_tournament_table in request_tournament_tables %}
                                {% if tournament.id==request_tournament_table.tournament_id %}
                                    {% if suser.id==request_tournament_table.user_responser_id %}
                                        {% set a=1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% for request_tournament_table in request_tournament_tables %}
                                {% if tournament.id==request_tournament_table.tournament_id %}
                                    {% if suser.id==request_tournament_table.user_requester_id %}
                                        {% set a=1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if a==0 %}
                                <td class="top-padding-1em hidden-xs all-players-table-style top-padding-2em">
                                    <button class="lt-success-btn">Пригласить</button>
                                </td>
                                <td class="top-padding-1em visible-xs all-players-table-style top-padding-2em">
                                    <button class="lt-success-btn">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row top-padding-1em">
        <div class="col-xs-12 results-league-table">
            <table width="100%" class="text-center">
                <thead>
                <tr>
                    <td class="hidden-xs all-players-table-style">
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Фамилия</span>
                        <span class="visible-xs-block all-players-table-style">
                            <i class="all-players-table-style material-icons">person</i>
                        </span>
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Имя</span>
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Отчество</span>
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Возраст</span>
                        <span class="visible-xs-block all-players-table-style">
							<i class="material-icons"></i>
                        </span>
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Сыграно</span>
                        <span class="visible-xs-block all-players-table-style">
							<i class="all-players-table-style material-icons">thumbs_up_down</i>
                        </span>
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Побед</span>
                        <span class="visible-xs-block all-players-table-style">
							<i class="all-players-table-style material-icons">thumb_up</i>
                        </span>
                    </td>
                    <td>
                        <span class="hidden-xs all-players-table-style">Очки</span>
                        <span class="visible-xs-block all-players-table-style">
							<i class="all-players-table-style material-icons">equalizer</i>
                        </span>
                    </td>
                    <td>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <form method="get" action="{{ route('send-tournament-invite',  tournament.id) }}">
                    <tr class="text-center">
                        <div class="form-group">
                            <input name="uid" value="{{ user.id }}" hidden>
                        </div>
                        <td class=" hidden-xs all-players-table-style">
                            <img class="player-avatar-32 border" src="/uploads/avatars/{{ user.avatar }}">
                        </td>
                        <td class="all-players-table-style">{{ user.surname }}</td>
                        <td class="all-players-table-style">{{ user.name }}</td>
                        <td class="all-players-table-style">{{ user.sname }}</td>
                        <td class="all-players-table-style">{{ user.age }}</td>
                        <td class="all-players-table-style">{{ user.matches }}</td>
                        <td class="all-players-table-style">{{ user.wins }}</td>
                        <td class="all-players-table-style">{{ user.rating }}</td>

                        {% set a=0 %}
                        {% for tournament_user in tournament_users %}
                            {% if tournament.id==tournament_user.tournament_id %}
                                {% if user.id==tournament_user.user_id %}
                                    {% set a=1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for request_tournament_table in request_tournament_tables %}
                            {% if tournament.id==request_tournament_table.tournament_id %}
                                {% if user.id==request_tournament_table.user_responser_id %}
                                    {% set a=1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for request_tournament_table in request_tournament_tables %}
                            {% if tournament.id==request_tournament_table.tournament_id %}
                                {% if user.id==request_tournament_table.user_requester_id %}
                                    {% set a=1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if a==0 %}
                        <td class="top-padding-1em hidden-xs all-players-table-style">
                            <button class="lt-success-btn">Пригласить</button>
                        </td>
                        <td class="top-padding-1em visible-xs all-players-table-style">
                            <button class="lt-success-btn">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function Choose(element, p_id) {
        var playground_id = document.getElementById('playground_id');
        var id = document.getElementById('id');
        playground_id.value = element.name;
        id.value = p_id;
    }

    function playerInfo(element) {
        // Get the modal
        var modal = document.getElementById('playerModal');

        // Get the button that opens the modal
        //var btn = document.getElementById("myBtn");
        var btn = element;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function onClick(element) {
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        //var btn = document.getElementById("myBtn");
        var btn = element;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[1];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

</script>
</body>
</html>