<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grodno Tennis</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid shadow indent-10-percents">
	<div class="row text-center">
		<div class="col-xs-8 text-left">
			<a href="{{ route('admin-index') }}" class="lt-primary-btn margin-for-btn-in">
				Назад
			</a>
		</div>
		<div class="col-xs-4">
			<div class="dropdown margin-for-btn-in">
				<button class="dropbtn">
					<img class="size-of-btn-img" src="/img/benefit_3.png">
					<span class="caret"></span>
				</button>
				<div class="dropdown-content text-center">
					<a href="{{ route('main') }}">Главная</a>
					<a href="{{ route('my-matches') }}">Личный кабинет</a>
					<a href="{{ route('logout') }}"
					   onclick="event.preventDefault();
                       document.getElementById('logout-form').submit();">
						Выход
					</a>

					<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                        {{ csrf_field() }}
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center top-padding-for-middle">
		<form method="post" action="{{ route('admin-add-post-playground') }}">
			{{ csrf_field() }}

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
				<label for="address" class="second-section-textstyle"><strong>Адрес корта:<br></strong></label>
				<div class="form-group{{ errors.has('address') ? ' has-error' : '' }}">
					<input id="address" type="text" name="address" value="" class="form-control input-box" required>
					{% if errors.has('address') %}
						<span class="help-block">
							<strong>{{ errors.first('address') }}</strong>
						</span>
					{% endif %}
				</div>
				<label for="worktime" class="second-section-textstyle"><strong>Время работы:<br></strong></label>
				<div class="form-group{{ errors.has('worktime') ? ' has-error' : '' }}">
					<input id="worktime" type="text" name="worktime" placeholder="XX:XX-XX:XX" value="" class="form-control input-box" required maxlength="50">
					{% if errors.has('worktime') %}
						<span class="help-block">
                              <strong>{{ errors.first('worktime') }}</strong>
                          </span>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
				<label for="surface" class="second-section-textstyle"><strong>Покрытие корта:<br></strong></label>
				<div class="form-group{{ errors.has('surface') ? ' has-error' : '' }}">
					<input id="surface" type="text" name="surface" class="form-control input-box" value="" required maxlength="50">
					{% if errors.has('surface') %}
						<span class="help-block">
                              <strong>{{ errors.first('surface') }}</strong>
                          </span>
					{% endif %}
				</div>
				<label for="type" class="second-section-textstyle"><strong>Тип корта:<br></strong></label>
				<div class="form-group{{ errors.has('time') ? ' has-error' : '' }}">
					<input id="type" type="text" name="type" class="form-control input-box" value="" required maxlength="50">
					{% if errors.has('time') %}
						<span class="help-block">
                              <strong>{{ errors.first('time') }}</strong>
                          </span>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="card-panel text-center text-block">
							<button type="submit" class="lt-primary-btn">
								Добавить
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>