<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grodno Tennis</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
</head>
<body>
<div class="container-fluid shadow indent-10-percents">
    <div class="row text-center">
        <div class="col-xs-8 text-left">
            <a href="{{ route('admin-update-tournament') }}" class="lt-primary-btn margin-for-btn-in">
                Назад
            </a>
        </div>
        <div class="col-xs-4">
            <div class="dropdown">
                <button class="dropbtn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <img class="size-of-btn-img" src="/img/benefit_3.png">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-content" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ route('main') }}">Главная</a></li>
                    <li><a href="{{ route('my-matches') }}">Личный кабинет</a></li>
                    <li>
                        <a href="{{ route('logout') }}"
                           onclick="event.preventDefault();
                           document.getElementById('logout-form').submit();">
                            Выход
                        </a>

                        <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                            {{ csrf_field() }}
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center top-padding-for-middle">
        <form>
            {{ csrf_field() }}
            <div class="col-md-6 col-sm-6 text-left">
                <label for="name" class="second-section-textstyle"><strong>Название турнира:<br></strong></label>
                <div class="form-group{{ errors.has('name') ? ' has-error' : '' }}">
                    <input id="name" type="text" name="name" value="{{ tournament.name }}"
                           class="form-control input-box" required maxlength="50">
                    {% if errors.has('name') %}
                        <span class="help-block">
							<strong>{{ errors.first('name') }}</strong>
                        </span>
                    {% endif %}
                </div>
                <label for="date_of_start" class="second-section-textstyle"><strong>Дата начала:<br></strong></label>
                <div class="form-group{{ errors.has('date_of_start') ? ' has-error' : '' }}">
                    <input id="date_of_start" type="date" name="date_of_start" value="{{ tournament.date_of_start }}"
                           class="form-control input-box" required maxlength="50">
                    {% if errors.has('date_of_start') %}
                        <span class="help-block">
							<strong>{{ errors.first('date_of_start') }}</strong>
                        </span>
                    {% endif %}
                </div>
                <label for="date_of_finish" class="second-section-textstyle"><strong>Дата
                        окончания:<br></strong></label>
                <div class="form-group{{ errors.has('date_of_finish') ? ' has-error' : '' }}">
                    <input id="date_of_finish" type="date" name="date_of_finish" value="{{ tournament.date_of_finish }}"
                           class="form-control input-box" required maxlength="50">
                    {% if errors.has('date_of_finish') %}
                        <span class="help-block">
							<strong>{{ errors.first('date_of_finish') }}</strong>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-6 text-left">
                <label for="time" class="second-section-textstyle"><strong>Время:<br></strong></label>
                <div class="form-group{{ errors.has('time') ? ' has-error' : '' }}">
                    <input id="time" type="time" name="time" value="{{ tournament.time }}"
                           class="form-control input-box" required maxlength="50">
                    {% if errors.has('time') %}
                        <span class="help-block">
							<strong>{{ errors.first('time') }}</strong>
                        </span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="text" id="id" name="playground_id" value="{{ tournament.playground_id }}" class="form-control hidden" value="" required>
                    <div class="dropdown">
                        <label class="second-section-textstyle">Корт:</label>
                        <input id="playground_id" type="text" value="{{ pl.address }}" class="form-control" readonly>
                        <div id="dropdown-content" class="dropdown-content text-center" style="width: 100%">
                            {% for playground in playgrounds %}
                                <a class="second-section-textstyle" onclick="Choose(this,{{ playground.id }})"
                                   name="{{ playground.address }}">
                                    {{ playground.address }}
                                    <br>{{ playground.surface }}<br>{{ playground.type }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <label for="max_players" class="second-section-textstyle"><strong>Максимально
                        игроков:<br></strong></label>
                <div class="form-group{{ errors.has('max_players') ? ' has-error' : '' }}">
                    <input id="max_players" type="number" value="{{ tournament.max_players }}" name="max_players"
                           class="form-control input-box" maxlength="50" required>
                    {% if errors.has('max_players') %}
                        <span class="help-block">
							<strong>{{ errors.first('max_players') }}</strong>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="row top-padding-1em">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="card-panel text-center text-block">
                            <input type="submit" value="Изменить" class="lt-primary-btn" formmethod="post"  formaction="{{ route('admin-update-post-tournament', tournament.id) }}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function Choose(element, p_id) {
        var playground_id = document.getElementById('playground_id');
        var id = document.getElementById('id');
        playground_id.value = element.name;
        id.value = p_id;
        var dropdown_content = document.getElementById('dropdown-content');
        playground_id.onclick = function () {
            dropdown_content.style.display = "block";
        }
        dropdown_content.onclick = function () {
            dropdown_content.style.display = "none";
        }
    }
</script>
</body>
</html>