<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Geidni Tennis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body class="main">
<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-default navbar-fixed-top">
			{% if auth_guest() %}
			<a class="navbar-brand" href="#">
				<img class="logo-size" src="/img/liga_grey_logo.png">
			</a>

			<div class="navbar-right text-right">

				<a href="#registration" class="hidden-xs">
					<button type="button" class="lt-primary-btn">Начать</button>
				</a>
				<a href="{{ route('my-matches') }}" class="btn navbar-btn margin-for-btn-in">
					Вход
				</a>


				{% else %}
					<div class="col-xs-3">
						<a class="navbar-brand" href="#">
							<img class="logo-size" src="/img/liga_grey_logo.png">
						</a>
					</div>
					<div class="col-xs-8 text-right">
						<div class="dropdown margin-for-btn-in  top-padding-10px">
							<button class="dropbtn">
								<img class="size-of-btn-img" src="/img/benefit_3.png">
								<span class="caret"></span>
							</button>
							<div class="dropdown-content text-left">
								<a class="second-section-textstyle" href="{{ route('my-matches') }}">Матчи</a>
								<a class="second-section-textstyle" href="{{ route('all-players') }}">Игроки</a>
								<a class="second-section-textstyle" href="{{ route('invites') }}">Приглашения</a>
								<a class="second-section-textstyle" href="{{ route('my-requests') }}">Запросы</a>
								<a class="second-section-textstyle" href="{{ route('personal-data') }}">Личные данные</a>

								<a class="second-section-textstyle" href="{{ route('logout') }}"
								   onclick="event.preventDefault();
                    document.getElementById('logout-form').submit();">
									Выход
								</a>

								<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
									{{ csrf_field() }}
								</form>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			<!-- /.container-fluid -->
		</nav>
	</div>
</div>
<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="first-section-background">
				<div class="col-xs-12 text-center top-padding">
					<p class="header-textstyle">Играй. Выигрывай. Делись.</p>
					<p class="first-section-textstyle">Играй в теннис регулярно, где угодно и когда угодно. Делись своими результатами,<br>
						фото или видео. Подписывайся на других игроков. Это все - бесплатно.
					<p>
						{% if auth_guest() %}
					<div>
						<a href="#registration" class="lt-big-primary-btn-without-vanish">Начать
						</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="text-block text-center">
			<h2 class="second-section-header-textstyle">О платформе</h2>
			<p class="second-section-textstyle"><em>Игра в теннис - это отличный способ поддерживать хорошую форму, весело проводить время и
					находить новых друзей. Одиночные и парные матчи для взрослых и детей.&nbsp;</em><br />
				<br />
				Liga.Tennis - это международное сообщество, которое помогает любителям тенниса играть матчи регулярно, а также находиться в
				контакте друг с другом, публикуя свои результаты, фото или видео. Вступить в Лигу очень легко: регистрируйтесь за пару минут&nbsp;и&nbsp;выбирайте
				где играть (<a href="https://liga.tennis/ru/leagues/" target="_blank">Лиги</a>, <a href="https://liga.tennis/ru/clubs"
				                                                                                   target="_blank">Клубы</a>, <a
						href="https://liga.tennis/ru/tournaments" target="_blank">Турниры</a> или <a
						href="https://liga.tennis/ru/players/search" target="_blank">Найти партнера</a>). А играть еще проще: Вы&nbsp;и Ваш&nbsp;оппонент
				сами выбираете корт и время матча. В Liga.Tennis нет никаких обязательств для игроков и это абсолютно бесплатно!</p>
			<p><strong><a href="#registration"><span class="blue-textstyle">Зарегистрироваться сейчас!</span></a></strong></p>

		</div>
		<br><br>
		<div class="benefits-block">
			<div class="second-section-header-textstyle text-center">
				<h2>Преимущества для игроков</h2>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<img src="/img/benefit_1.png">
					<p class="second-section-textstyle">Это&nbsp;бесплатно и никаких обязательств: выбирайте игроков вашего&nbsp;уровня,
						играйте где удобно и когда угодно.</p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<img src="/img/benefit_2.png">
					<p class="second-section-textstyle">Меняйте свой уровень, город или даже страну в один клик в своем профиле. Играйте по
						всему миру.<br><br></p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<img src="/img/benefit_3.png">
					<p class="second-section-textstyle">Будьте в курсе событий своей лиги с помощью ленты, встроенного мессенджера и
						push-уведомлений.</p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<img src="/img/benefit_4.png">
					<p class="second-section-textstyle">Играйте на счет (Лиги, Клубы, Турниры) или просто ради удовольстия (Найди
						партнера).</p>
				</div>
			</div>

		</div>

	</div>


	<div class="rev-background">
		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-11 col-md-7 col-sm-7 col-lg-7">
					<div class="review-textstyle">
						Иногда теннис может расстраивать. Но тут нет другого пути, кроме кропотливой работы над собой. Прими это. Ты можешь
						тратить часы на тренировки, но всегда останется что-то, что можно улучшить. Ты должен многим жертвовать для порой,
						якобы незначительного прогресса. Но ты должен помнить: если ты все делаешь "по-настоящему" - результат придет. Рано
						или поздно.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1 col-md-1 col-sm-1 col-lg-1">
					<img class="avatar" src="/img/federer_avatar.png">
				</div>
				<div class="col-xs-11 col-md-10 col-sm-10 col-lg-10">
					<strong class="review-textstyle2">Роджер Федерер</strong>
					<small class="review-textstyle3"><br>20-кратный победитель турниров Большого Шлема</small>
				</div>
			</div>
		</div>
	</div>


	<div class="container">

		<div class="text-block text-center">
			<h2>Глобальный рейтинг</h2>

			<p><em>&nbsp;Глобальный рейтинг - это&nbsp;общее количество очков, которые игроки заработали по всему миру в Лигах, Клубах или
					Турнирах.</em></p></div>
		<br>


		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="results-league-table">

					<table width="100%">
						<thead>
						<tr>
							<td>№</td>
							<td></td>
							<td>Игрок</td>
							<td class="text-center">
								<span class="hidden-xs">Сыграно</span>
								<span class="visible-xs-block">
                          <i class="fa fa-handshake-o" aria-hidden="true"></i>
      									</span>
							</td>
							<td class="text-center">
								<span class="hidden-xs">Побед</span>
								<span class="visible-xs-block">
      										<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      									</span>
							</td>
							<td class="text-center">
								<span class="hidden-xs">Очки</span>
								<span class="visible-xs-block">
      										<i class="fa fa-line-chart" aria-hidden="true"></i>
      									</span>
							</td>
						</tr>
						</thead>
						<tbody>
						<div class="hidden">
							{% set i = 0 %}
						</div>
						{% for user in users %}
							<div class="hidden">
								{% set i=i+1 %}
							</div>
							<tr class="text-center">
								<td class="content">{{ i }}</td>
								<td>
									<img class="player-avatar-32 border" src="/uploads/avatars/{{ user.avatar }}">
								</td>
								<td>{{ user.surname }} {{ user.name }} {{ user.sname }}</td>
								<td>{{ user.matches }}</td>
								<td>{{ user.wins }}</td>
								<td>{{ user.rating }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
		{% if auth_user() %}
			<div class="text-block text-center top-padding-1em">
				<br>
				<a href="{{ route('all-players') }}" class="lt-primary-btn">
					Посмотреть всех игроков
				</a>
			</div>
		{% endif %}
	</div>


	<div class="container">
		<div class="text-block text-center">
			<h2 class="header-textstyle">Турниры</h2>

			<p><em>Турнир - это соревнование между игроками любого пола или уровня, которые были приглашены Организатором. Каждый может
					стать Организатором и создать собственный турнир.</em></p></div>
		<div class="row text-center text-block second-section-textstyle">
			<div class="col-md-6 col-sm-6 text-block top-padding-4em">
				<div class="border-for-tournament">
					<div class="row">
						<div class="col-xs-4">
							<a href="#">
								<img class="tournament-ava" src="/img/patra-invitational-singles-tournament-2017.jpg">
							</a>
						</div>
						<div class="col-xs-8 top-padding-10px">
							<div class="player-name">
								<a class="color-black" href="#">
									<span class="color-black">Patra Invitational Singles Tournament 2017</span>
								</a>
							</div>
							<div class="contact-line no-padding">
								<span class="color-black">Индонезия, Jakarta</span>
							</div>
							<div class="contact-line no-padding color-black">
								Начало турнира:
								<strong>04.11.17</strong>
								- <strong>04.11.17</strong>
							</div>
							<div class="contact-line no-padding color-black">
								Регистрация закрыта: <strong>28.10.17</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 top-padding-1em">
					<a href="#" class="lt-success-btn">
						Вступить
					</a>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 top-padding-4em">
				<div class="border-for-tournament">
					<div class="">
						<div class="row">
							<div class="col-xs-4">
								<a href="#">
									<img class="tournament-ava" src="/img/ligatennis-tournament.png">
								</a>
							</div>
							<div class="col-xs-8 top-padding-10px">
								<div class="player-name">
									<a class="color-black" href="#">
										<span>Liga.Tennis Tournament <span class="free-label sm">FREE</span></span>
									</a>
								</div>
								<div class="contact-line no-padding">
									<span class="color-black">Индонезия, Bali</span>

								</div>
								<div class="contact-line no-padding color-black">
									Начало турнира:
									<strong>02.10.17</strong>
									- <strong>12.11.17</strong>
								</div>
								<div class="contact-line no-padding color-black">
									Регистрация закрыта: <strong>02.10.17</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 top-padding-1em">
					<a href="#" class="lt-success-btn">
						Вступить
					</a>
				</div>
			</div>


		</div>
	</div>


	<div class="text-center text-block top-padding-1em">
		<a href="#" class="lt-primary-btn">
			Посмотреть все
		</a>
	</div>


	<div class="text-block text-center">
		<h2 class="header-textstyle">Остались вопросы?</h2>

		<p>У нас есть ответы!</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				<div class="panel panel-default " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseitem_2579"
				     aria-expanded="true">
					<div class="panel-heading" role="tab" id="headingitem_2579">
						<a aria-controls="collapseitem_2579">
							<h4 class="panel-title"> Как я могу начать играть в Liga.Tennis?</h4>
						</a>

					</div>
					<div id="collapseitem_2579" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_2579">
						<div class="panel-body">
							<p>Это очень легко и быстро, и занимает всего 2-3 минуты. Чтобы зарегистрироваться как игрок, кликните на &quot;<strong><a
											href="#" target="_blank">Начать</a></strong>&quot; на этой странице и следуйте простым шагам по
								наполнению своего профиля.</p>
						</div>
					</div>
				</div>

				<div class="panel panel-default " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseitem_3385"
				     aria-expanded="true">
					<div class="panel-heading" role="tab" id="headingitem_3385">

						<a aria-controls="collapseitem_3385"><h4 class="panel-title"> В чем разница между Лигами, Клубами, Турнирами и Найти
								партнера?</h4></a>

					</div>
					<div id="collapseitem_3385" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_3385">
						<div class="panel-body">
							<p>Вы можете выбирать, чтобы играть в более соревновательный теннис (Лиги, Клуба, Турниры) или не на счет (Найти
								партнера). Эти варианты отличаются следующим:&nbsp;</p>

							<p>1. <strong>Лига </strong>- это соревнование в пределах одного региона (например, Лига &quot;Астана&quot; или
								Лига &quot;Сокольники&quot;), которые всегда открыты для всех желающих.<br />
								2. <strong>Клубы</strong> - это соревнование в рамках конкретной организации или группы людей (например,
								&quot;Минский клуб фанатов Роджера Федерера&quot;). Точно так же как и в Facebook или Вконтакте, Клубы могут
								быть как Открытыми (любой желающий может вступить в один клик), так и Закрытыми (Организатор Клуба должен
								подтвердить запрос на вступление нового участника). Каждый игрок может быть участником нескольких
								клубов.<br />
								3. <strong>Турниры</strong> - это соревнования&nbsp;игроков разного пола, возраста или уровня, которые были
								приглашены Организатором турнира. По-сравнению с Лигами или Клубами, игроки получают больше очков за игры и
								победы в турнирах.<br />
								4. <strong>Найти партнера </strong>- этот вариант доступен для тех, кто не еще не готов или не хочет играть
								в соревновательный теннис, а просто ищет партнера с кем можно сыграть не на счет и без отправки вызовов.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseitem_4252"
				     aria-expanded="true">
					<div class="panel-heading" role="tab" id="headingitem_4252">

						<a aria-controls="collapseitem_4252"><h4 class="panel-title"> Я только что зарегистрировался. Что мне выбрать: Лигу,
								Клуб или Турнир?</h4></a>

					</div>
					<div id="collapseitem_4252" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_4252">
						<div class="panel-body">
							<p>Это зависит от того, где Вы проживаете.&nbsp;<br />
								1. Лиги. Вступите в одну из лиг, если таковы уже существуют в Вашем регионе. Посмотреть доступные лиги можно
								<a href="https://liga.tennis/ru/leagues" target="_blank">тут</a>.&nbsp;<br />
								2. Клубы. Если в Вашем регионе еще нет открытых лиг, то Вы можете вступить в любой из существующих клубов.
								Если же клубов в Вашем городе еще нет, то создайте свой Клуб, пригласите&nbsp;друзей и для вас будут
								доступны все возможности и функции платформы Liga.Tennis. Это бесплатно.&nbsp;Больше деталей о клубах <a
										href="https://liga.tennis/ru/clubs" target="_blank">тут</a>.&nbsp;<br />
								3. Турниры. Турниры - это соревнования игроков разного пола, возраста или уровня, которые были приглашены
								Организатором турнира. То есть, Вы сможете принять участие в турнире как только получите приглашение от
								Организатора. Или же Вы можете стать таким Организатором. Напишите нам если Вам интересен вариант
								организации турнира в вашем городе.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseitem_2581"
				     aria-expanded="true">
					<div class="panel-heading" role="tab" id="headingitem_2581">

						<a aria-controls="collapseitem_2581"><h4 class="panel-title"> Сколько это стоит?</h4></a>

					</div>
					<div id="collapseitem_2581" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_2581">
						<div class="panel-body">
							<p>Пользование платформой Liga.Tennis - абсолютно бесплатно для всех: игроков, тренеров, клубов, кортов и любых
								других организаций.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseitem_2582"
				     aria-expanded="true">
					<div class="panel-heading" role="tab" id="headingitem_2582">

						<a aria-controls="collapseitem_2582"><h4 class="panel-title"> Где и когда я должен играть свои матчи? </h4></a>

					</div>
					<div id="collapseitem_2582" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_2582">
						<div class="panel-body">
							<p>Проводите матчи с игроками своего уровня когда и где угодно. В Liga.Tennis нет никаких обязательств для
								игроков, даже если Вы играете один матч в месяц. Для того чтобы сыграть матч, Вы должны отправить вызов
								своему оппоненту через онлайн-систему платформы. После этого, Вы связываетесь напрямую и договариваетесь о
								месте и времени своего матча, как оплачивать аренду корта, кто привозит мячи и пр.&nbsp;</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseitem_2584"
				     aria-expanded="true">
					<div class="panel-heading" role="tab" id="headingitem_2584">

						<a aria-controls="collapseitem_2584"><h4 class="panel-title"> Как часто я должен играть матчи?</h4></a>

					</div>
					<div id="collapseitem_2584" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_2584">
						<div class="panel-body">
							<p>Это ваше дело. Играйте столько матчей, сколько хотите. У вас нет никаких обязательств даже если вы играете
								один матч в месяц. Но помните: вы получаете очки&nbsp;за каждый матч.&nbsp;Вы получаете больше очков,
								если:<br />
								✔️играете больше матчей;<br />
								✔️выигрываете больше матчей;<br />
								✔️играете и выигрываете у игроков, которые находятся выше Вас в рейтинговой таблице. Соответственно, Вы
								получите меньше очков, если проведете матч и выиграете у соперника, который находится ниже Вас в
								рейтинге;<br />
								✔️выиграете матч во время основных сетов, чем если победа была получена на тай-брейке;<br />
								✔️выиграете больше геймов в каждом сете.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default" role="tab" id="headingitem_3002" role="button" data-toggle="collapse"
				     data-parent="#accordion" href="#collapseitem_3002" aria-expanded="true">
					<div class="panel-heading">

						<a aria-controls="collapseitem_3002"><h4 class="panel-title"> Могу ли я играть в Liga.Tennis во время
								путешествий? </h4></a>

					</div>
					<div id="collapseitem_3002" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingitem_3002">
						<div class="panel-body">
							<p>Платформа Liga.Tennis доступна по всему миру. Меняйте город, регион или страну в один клик в настройках
								Вашего аккаунта и играйте в новой локации. Все Ваши очки, набранные во время путешествий, будут учитываться
								в Глобальном рейтинге.&nbsp;</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<br>
	<div class="text-block text-center">
		<p>Смотрите Правила и Условия полностью&nbsp;<a href="#">на этой странице</a></p></div>

	{% if auth_guest() %}
		<div class="container">
			<br>
			<div class=" text-center" id="short-form">
				<p><a name="registration"></a></p>
				<h2>Создайте свой профиль сейчас.</h2>

				<p><span>Это занимает всего пару минут.<br />
(Уже зарегистрированы? Кликните тут, чтобы&nbsp;<strong><a href="{{ route('my-matches') }}" target="_blank"><span class="blue-textstyle">Войти</span></a></strong>).</span>&nbsp;
				</p></div>
			<br>
			<form method="post" action="{{ route('register') }}">
				{{ csrf_field() }}
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('name') ? ' has-error' : '' }}">
							<input id="name" type="text" name="name" placeholder="Имя" class="form-control" value="{{ old('name') }}"
							       required>
							{% if errors.has('name') %}
								<span class="help-block">
								<strong>{{ errors.first('name') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('surname') ? ' has-error' : '' }}">
							<input id="surname" type="text" name="surname" placeholder="Фамилия" class="form-control"
							       value="{{ old('surname') }}" required maxlength="50">
							{% if errors.has('surname') %}
								<span class="help-block">
								<strong>{{ errors.first('surname') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('sname') ? ' has-error' : '' }}">
							<input id="sname" type="text" name="sname" placeholder="Отчество" class="form-control"
							       value="{{ old('sname') }}" required maxlength="50">
							{% if errors.has('sname') %}
								<span class="help-block">
								<strong>{{ errors.first('sname') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('age') ? ' has-error' : '' }}">
							<input id="age" type="text" name="age" placeholder="Возраст" class="form-control" value="{{ old('age') }}"
							       required maxlength="3">
							{% if errors.has('age') %}
								<span class="help-block">
								<strong>{{ errors.first('age') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('email') ? ' has-error' : '' }}">
							<input id="email" type="email" name="email" placeholder="Email" class="form-control" value="{{ old('email') }}"
							       required maxlength="50">
							{% if errors.has('email') %}
								<span class="help-block">
								<strong>{{ errors.first('email') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('phone') ? ' has-error' : '' }}">
							<input id="phone" type="text" name="phone" placeholder="Телефон" class="form-control" value="{{ old('phone') }}"
							       maxlength="50">
							{% if errors.has('phone') %}
								<span class="help-block">
								<strong>{{ errors.first('phone') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group{{ errors.has('password') ? ' has-error' : '' }}">
							<input id="password" type="password" name="password" placeholder="Пароль" class="form-control"
							       value="{{ old('password') }}" required maxlength="50">
							{% if errors.has('password') %}
								<span class="help-block">
								<strong>{{ errors.first('password') }}</strong>
							</span>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<input id="password-confirm" type="password" class="form-control" placeholder="Повторите пароль"
							       name="password_confirmation" required>
						</div>
					</div>
				</div>

				<p class="text-center text-block">
					Нажимая “Продолжить”, вы принимаете наши <a href="#">Условия и Правила</a>.
				</p>
				<div class="form-group">
					<div class="card-panel text-center text-block">
						<button type="submit" class="lt-primary-btn">
							Продолжить
						</button>
					</div>
				</div>
			</form>
		</div>

	{% endif %}
</div>

<div class="footer text-center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-offset-0 col-sm-offset-0 col-md-offset-0 col-xs-offset-4 col-lg-3 col-sm-3 col-md-3 col-xs-4 text-center">
				<a href="#">
					<img class="footer-logo-size" src="/img/liga_white_logo.png">
				</a>
			</div>

			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
				<span class="style-text-footer">
		                    2018 © Geidni Tennis - Все права защищены. -

		                    <a href="#">Условия</a> -
		                    <a href="#">Приватность</a> -
		                    <a href="#">Контакты</a>
		                    - &nbsp;
		                    <a href="#" target="_blank" rel="nofollow">
		                        <img src="/img/facebook_logo.png" width="20">
		                    </a><br>
	        </span>
			</div>

			<div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
				<div class="col-lg-0 col-sm-0 col-md-0 col-xs-6">
					<img class="footer-apps" src="/img/coming-soon-appstore_opt.png">
				</div>
				<div class="col-lg-0 col-sm-0 col-md-0 col-xs-6">
					<img class="footer-apps" src="/img/coming-soon-google_opt.png">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>