<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grodno Tennis</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container-fluid shadow indent-10-percents">
	<div class="row text-center">
		<!--
		<div class="col-xs-4 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
		!-->
		<div class="col-xs-12 text-right">
			<div class="dropdown margin-for-btn-in  top-padding-10px">
				<button class="dropbtn">
					<img class="size-of-btn-img" src="/img/benefit_3.png">
					<span class="caret"></span>
				</button>
				<div class="dropdown-content text-center">
					<a href="{{ route('main') }}">Главная</a>
					{% if authUser.hasRole('admin') %}
						<a class="second-section-textstyle" href="{{ route('admin-index') }}">Кабинет администратора</a>
					{% endif %}
					<a href="{{ route('logout') }}"
					   onclick="event.preventDefault();
                       document.getElementById('logout-form').submit();">
						Выход
					</a>

					<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
						{{ csrf_field() }}
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row top-padding-1em">
		<nav class="navbar navbar-default  nav-style">
			<div class="container-fluid">
				<div class="row">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tabNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="tabNavbar">
						<ul class="nav text-center hidden-xs">
							<li class=" col-xs-2 col-sm-4 col-md-4 col-lg-2"><a href="{{ route('my-matches') }}">Матчи</a></li>
							<li class="col-xs-2 col-sm-4 col-md-4 col-lg-2"><a href="{{ route('all-players') }}">Игроки</a></li>
							<li class="col-xs-2 col-sm-4 col-md-4 col-lg-2"><a href="{{ route('invites') }}">Приглашения</a></li>
							<li class="col-xs-2 col-sm-4 col-md-4 col-lg-2"><a href="{{ route('my-requests') }}">Запросы</a></li>
							<li class="col-xs-2 col-sm-4 col-md-4 col-lg-2"><a href="{{ route('personal-data') }}">Личные данные</a></li>
							<li class="col-xs-2 col-sm-4 col-md-4 col-lg-2"><a href="{{ route('tournaments') }}">Турниры</a></li>
						</ul>
						<ul class="nav text-left visible-xs">
							<li class="col-xs-12"><a href="{{ route('my-matches') }}">Матчи</a></li>
							<li class="col-xs-12"><a href="{{ route('all-players') }}">Игроки</a></li>
							<li class="col-xs-12"><a href="{{ route('invites') }}">Приглашения</a></li>
							<li class="col-xs-12"><a href="{{ route('my-requests') }}">Запросы</a></li>
							<li class="col-xs-12"><a href="{{ route('personal-data') }}">Личные данные</a></li>
							<li class="col-xs-12"><a href="{{ route('tournaments') }}">Турниры</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<div class="row top-padding-1em">
		<div class="col-xs-12">
			<table width="100%" class="text-center">
				<thead>
				<tr>
					<td>
						<span class="hidden-xs personal-room-request-table-style">Турнир:</span>
					</td>
					<td>
						<span class="hidden-xs personal-room-request-table-style">Дата проведения:</span>
					</td>
					<td>
						<span class="hidden-xs personal-room-request-table-style">Время:</span>
					</td>
					<td>
						<span class="hidden-xs personal-room-request-table-style">Корт:</span>
					</td>
					<td>
                            <span>

                            </span>
					</td>
				</tr>
				</thead>
				<tbody>
				{% for tournament in tournaments %}
					<form method="get" action="{{ route('send-tournament-request',  tournament.id) }}">
						<tr class="text-center top-padding-1em">
							<td class="top-padding-1em personal-room-request-table-style">{{ tournament.name }}</td>
							<td class="top-padding-1em personal-room-request-table-style">{{ tournament.date_of_start|date('d:m:Y') }} - {{ tournament.date_of_finish|date('d:m:Y') }}</td>
							<td class="top-padding-1em personal-room-request-table-style">{{ tournament.time|date('H:i') }}</td>
							<td class="top-padding-1em personal-room-request-table-style">{{ tournament.address }}</td>
							{% set a=0 %}
							{% for tournament_user in tournament_users %}
								{% if tournament.id==tournament_user.tournament_id %}
									{% if authUser.id==tournament_user.user_id %}
										{% set a=1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
							{% for request_tournament_table in request_tournament_tables %}
								{% if tournament.id==request_tournament_table.tournament_id %}
									{% if authUser.id==request_tournament_table.user_responser_id %}
										{% set a=1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
							{% for request_tournament_table in request_tournament_tables %}
								{% if tournament.id==request_tournament_table.tournament_id %}
									{% if authUser.id==request_tournament_table.user_requester_id %}
										{% set a=1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if a==0 %}
								<td class="top-padding-1em hidden-xs personal-room-request-table-style">
									<button class="lt-success-btn">Подать заявку</button>
								</td>
								<td class="top-padding-1em visible-xs personal-room-request-table-style">
									<button class="lt-success-btn"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
								</td>
							{% endif %}

						</tr>
					</form>
				{% endfor %}
				</tbody>

			</table>
			{# <hr>
			 {{$wait_requests->render()}}#}
		</div>
	</div>
</div>
</body>
</html>